.Widgets
{    flex:0.3;
    align-items: flex-start;
   
}
.widgets__input{
    display :flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width:400px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: var(--twitter-background);
}

.widgets__input > input
{
    font-size: 15px;
    padding:20px;
    border:none;
    background-color: var(--twitter-background);
    outline: none;
}
.widgets__widgetContainer
{   flex:1;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 20px;
    
}
.widgets__widgetContainer > img
{
    width:100%;
    
    
    height:400px;
    
    
}